<!-- Inicio de la seccion Categorias -->
    <section class="categorias">
        <div class="contenedor">
            <h2 class="text-centro">Categorías</h2>
            <a href="#">
                <div class="cuadro-3 float-contenedor">
                    <img src="img\pizza.jpg" alt="Pizza" class="img-responsive img-redondeado">
                    <h3 class="float-text text-blanco">Pizza</h3>
                </div>
            </a>
            <a href="#">
                <div class="cuadro-3 float-contenedor">
                    <img src="img\burger.jpg" alt="Burger" class="img-responsive img-redondeado">
                    <h3 class="float-text text-blanco">Burger</h3>
                </div>
            </a>
            <a href="#">
                <div class="cuadro-3 float-contenedor">
                    <img src="img\momo.jpg" alt="Momo" class="img-responsive img-redondeado">
                    <h3 class="float-text text-blanco">Momo</h3>
                </div>   
            </a>         
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion Categorias -->