 <section class="menu-comidas">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestro Menú</h2>
                    <a>Ofrecemos una amplia variedad de platos</a>
                </div>
                <div class="contenedor">
                          {{ getProductos }}
                </div>
                </div>
            
    </section>
